USE [master]
GO
/****** Object:  Database [DB_VTS]    Script Date: 10/3/2020 9:31:59 AM ******/
CREATE DATABASE [DB_VTS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_VTS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_VTS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_VTS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_VTS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_VTS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_VTS]
GO
USE [DB_VTS]
GO
/****** Object:  Table [dbo].[TBL_DEVICE]    Script Date: 10/3/2020 9:31:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DEVICE](
	[DEVICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEVICE_SIM_NUMBER] [varchar](15) NOT NULL,
	[LAST_UPDATED_BY] [int] NOT NULL,
	[LAST_UPDATED_DATETIME] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[MOBILE_NUMBER] [varchar](15) NULL,
	[ORGANIZATION] [varchar](400) NULL,
	[ADDRESS] [varchar](400) NULL,
	[EMAIL_ADDRESS] [varchar](100) NULL,
	[LOCATION] [varchar](250) NULL,
	[PHOTO_PATH] [varchar](400) NULL,
	[LAST_UPDATED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VEHICLE]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VEHICLE](
	[VEHICLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[VEHICLE_NUMBER] [varchar](20) NOT NULL,
	[VEHICLE_TYPE] [varchar](10) NULL,
	[CHASSIS_NUMBER] [varchar](30) NULL,
	[ENGINE_NUMBER] [varchar](50) NULL,
	[MANUFACTURING_YEAR] [char](4) NULL,
	[LOAD_CARRYING_CAPACITY] [float] NOT NULL,
	[MAKE_OF_VEHICLE] [varchar](40) NULL,
	[MODEL_NUMBER] [varchar](20) NULL,
	[BODY_TYPE] [varchar](10) NULL,
	[ORGANISATION_NAME] [varchar](100) NULL,
	[DEVICE_ID] [int] NULL,
	[USER_ID] [int] NOT NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VEHICLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [VEHICLE_UQ_NUM] UNIQUE NONCLUSTERED 
(
	[VEHICLE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_USER] ADD  DEFAULT (getdate()) FOR [LAST_UPDATED_DATETIME]
GO
ALTER TABLE [dbo].[TBL_VEHICLE] ADD  DEFAULT ((0)) FOR [LOAD_CARRYING_CAPACITY]
GO
ALTER TABLE [dbo].[TBL_VEHICLE]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLE_DEVICE_ID] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TBL_DEVICE] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[TBL_VEHICLE] CHECK CONSTRAINT [FK_VEHICLE_DEVICE_ID]
GO
ALTER TABLE [dbo].[TBL_VEHICLE]  WITH CHECK ADD  CONSTRAINT [FK_VEHICLE_USER_ID] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[TBL_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[TBL_VEHICLE] CHECK CONSTRAINT [FK_VEHICLE_USER_ID]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_USER]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_ADD_USER]
@NAME VARCHAR(200),
@MOBILE_NUMBER VARCHAR(20),
@ORGANIZATION VARCHAR(400),
@ADDRESS VARCHAR(400),
@EMAIL_ADDRESS VARCHAR(100),
@LOCATION VARCHAR(200),
@UPDATED_BY INT
AS
BEGIN
	BEGIN TRY
		IF EXISTS(SELECT 1 FROM TBL_USER WHERE NAME = @NAME)  
		 BEGIN  
		  ;THROW 50000, 'USER WITH GIVEN LOGIN NAME ALREADY EXISTS', 1;  
		 END; 

		INSERT INTO TBL_USER (NAME,MOBILE_NUMBER,ORGANIZATION,ADDRESS,EMAIL_ADDRESS,LOCATION,LAST_UPDATED_BY,LAST_UPDATED_DATETIME)
		VALUES (@NAME,@MOBILE_NUMBER,@ORGANIZATION,@ADDRESS,@EMAIL_ADDRESS,@LOCATION,@UPDATED_BY, GETDATE())

		SELECT SCOPE_IDENTITY();
	END TRY
	BEGIN CATCH
		;THROW 50000, 'ERROR WHILE ADDING USER', 1;  
	END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_VEHICLE]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_ADD_VEHICLE]  
@VEHICLE_NUMBER	VARCHAR(12),
@VEHICLE_TYPE	VARCHAR(10),
@CHASSIS_NUMBER	VARCHAR(30),
@ENGINE_NUMBER	VARCHAR(30),
@MANUFACTURING_YEAR	CHAR(4),
@LOAD_CARRYING_CAPACITY	FLOAT,
@MAKE_OF_VEHICLE	VARCHAR(30),
@MODEL_NUMBER	VARCHAR(30),
@BODY_TYPE	VARCHAR(20),
@ORGANISATION_NAME	VARCHAR(100),
@DEVICE_ID	INT,
@USER_ID	INT,
@UPDATED_BY INT
AS  
SET NOCOUNT ON;  
BEGIN TRY

	 IF EXISTS(SELECT * FROM TBL_VEHICLE WHERE VEHICLE_NUMBER = @VEHICLE_NUMBER)  
	 BEGIN  
	  ;THROW 50000, 'VEHICLE IS ALREADY AVAILABLE', 1;  
	 END;  
  
	 INSERT INTO TBL_VEHICLE(DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
	LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME,  LAST_UPDATED_DATETIME)  
	 VALUES
	 (
		@DEVICE_ID, @USER_ID, @VEHICLE_NUMBER, @VEHICLE_TYPE, @CHASSIS_NUMBER, @ENGINE_NUMBER, @MANUFACTURING_YEAR, 
		@LOAD_CARRYING_CAPACITY, @MAKE_OF_VEHICLE, @MODEL_NUMBER, @BODY_TYPE, @ORGANISATION_NAME, GETDATE()
	 );  
  
	 SELECT SCOPE_IDENTITY();  

END TRY
BEGIN CATCH
 DECLARE @ERROR_SEVERITY INT, @ERROR_NO INT, @ERROR_MSG NVARCHAR(4000), @ERROR_STATE INT  
        SET @ERROR_SEVERITY = ERROR_SEVERITY()  
        SET @ERROR_NO = ERROR_NUMBER()  
        SET @ERROR_MSG = ERROR_MESSAGE()  
        SET @ERROR_STATE = ERROR_STATE()  
  		
        -- Not all errors generate an error state, to set to 1 if it's zero  
        IF @ERROR_STATE  = 0  
            SET @ERROR_STATE = 1  

        --RAISERROR (@ERROR_MSG , @ERROR_SEVERITY, @ERROR_STATE, @ERROR_NO)  
		
		;THROW 50000,@ERROR_MSG,1;
	--;THROW 50000, 'ERROR WHILE ADDING VEHICLE', 1;
END CATCH;
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_USER]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_USER]
AS
BEGIN
	SELECT USER_ID, NAME, MOBILE_NUMBER, ORGANIZATION, ADDRESS, EMAIL_ADDRESS, LOCATION, PHOTO_PATH,LAST_UPDATED_BY,LAST_UPDATED_DATETIME 
	FROM TBL_USER
END;
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_VEHICLES]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_VEHICLES]
AS
SET NOCOUNT ON;
BEGIN
		SELECT VEHICLE_ID, DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
		LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME
		FROM TBL_VEHICLE;
END;
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_VEHICLES_FOR_SEARCH]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_VEHICLES_FOR_SEARCH]
@VEHICLE_NUMBER	VARCHAR(12) = '',
@VEHICLE_TYPE	VARCHAR(10) = '',
@CHASSIS_NUMBER	VARCHAR(30) = '',
@ENGINE_NUMBER	VARCHAR(30) = '',
@MANUFACTURING_YEAR	VARCHAR(4) = '',

@USER_ID INT = 0,	

@PAGESIZE INT = 10,
@PAGENO INT = 1
AS
SET NOCOUNT ON;
BEGIN
		
		DECLARE @SQL_QUERY VARCHAR(4000)='';

		IF @PAGESIZE=0
		BEGIN	

			SET @SQL_QUERY ='
				SELECT VEHICLE_ID, DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
				LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME
				FROM TBL_VEHICLE
				WHERE (('''+CAST(@VEHICLE_NUMBER AS VARCHAR)+'''='''') OR (VEHICLE_NUMBER LIKE ''%'+CAST(@VEHICLE_NUMBER AS VARCHAR)+'%''))
				AND (('''+CAST(@VEHICLE_TYPE AS VARCHAR)+'''='''') OR (VEHICLE_TYPE LIKE ''%'+CAST(@VEHICLE_TYPE AS VARCHAR)+'%''))
				AND (('''+CAST(@CHASSIS_NUMBER AS VARCHAR)+'''='''') OR (CHASSIS_NUMBER LIKE ''%'+CAST(@CHASSIS_NUMBER AS VARCHAR)+'%''))
				AND (('''+CAST(@ENGINE_NUMBER AS VARCHAR)+'''='''') OR (ENGINE_NUMBER LIKE ''%'+CAST(@ENGINE_NUMBER AS VARCHAR)+'%''))
				AND (('''+CAST(@MANUFACTURING_YEAR AS VARCHAR)+'''='''') OR (MANUFACTURING_YEAR LIKE ''%'+CAST(@MANUFACTURING_YEAR AS VARCHAR)+'''))
				AND (('+CAST(@USER_ID AS VARCHAR)+'=0) OR (USER_ID ='+CAST(@USER_ID AS VARCHAR)+'))
				ORDER BY VEHICLE_NUMBER
			';

		END
		ELSE
		BEGIN	
			
			SET @SQL_QUERY ='
				;WITH NUMBEREDLIST AS
				(
					SELECT ROW_NUMBER() OVER (ORDER BY VEHICLE_NUMBER) AS RECNO, COUNT(*) OVER() AS NOOFRECORDS,
					VEHICLE_ID, DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
					LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME
					FROM TBL_VEHICLE
					WHERE (('''+CAST(@VEHICLE_NUMBER AS VARCHAR)+'''='''') OR (VEHICLE_NUMBER LIKE ''%'+CAST(@VEHICLE_NUMBER AS VARCHAR)+'%''))
					AND (('''+CAST(@VEHICLE_TYPE AS VARCHAR)+'''='''') OR (VEHICLE_TYPE LIKE ''%'+CAST(@VEHICLE_TYPE AS VARCHAR)+'%''))
					AND (('''+CAST(@CHASSIS_NUMBER AS VARCHAR)+'''='''') OR (CHASSIS_NUMBER LIKE ''%'+CAST(@CHASSIS_NUMBER AS VARCHAR)+'%''))
					AND (('''+CAST(@ENGINE_NUMBER AS VARCHAR)+'''='''') OR (ENGINE_NUMBER LIKE ''%'+CAST(@ENGINE_NUMBER AS VARCHAR)+'%''))
					AND (('''+CAST(@MANUFACTURING_YEAR AS VARCHAR)+'''='''') OR (MANUFACTURING_YEAR LIKE ''%'+CAST(@MANUFACTURING_YEAR AS VARCHAR)+'''))
					AND (('+CAST(@USER_ID AS VARCHAR)+'=0) OR (USER_ID ='+CAST(@USER_ID AS VARCHAR)+'))
				)
				SELECT VEHICLE_ID, DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
				LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME
				FROM NUMBEREDLIST
				WHERE RECNO BETWEEN ((('+CAST(@PAGENO AS VARCHAR)+' - 1) * '+CAST(@PAGESIZE AS VARCHAR)+') + 1) 
				AND ('+CAST(@PAGENO AS VARCHAR)+' * '+CAST(@PAGESIZE AS VARCHAR)+')
				ORDER BY RECNO
				';


		END

		EXEC (@SQL_QUERY)

END;
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_USER]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_UPDATE_USER]  
@USER_ID INT,
@NAME	VARCHAR(200),
@MOBILE_NUMBER	VARCHAR(15),
@ORGANIZATION	VARCHAR(400),
@ADDRESS	VARCHAR(400),
@EMAIL_ADDRESS	VARCHAR(100),
@LOCATION	VARCHAR(200),
@UPDATED_BY INT
AS  
SET NOCOUNT ON;  
BEGIN TRY

	 IF EXISTS(SELECT 1 FROM TBL_USER WHERE NAME = @NAME AND USER_ID<>@USER_ID )  
	 BEGIN  
	  ;THROW 50000, 'USER WITH GIVEN LOGIN NAME ALREADY EXISTS', 1;  
	 END;  
  
	UPDATE TBL_USER 
	SET NAME=@NAME, MOBILE_NUMBER=@MOBILE_NUMBER,ORGANIZATION=@MOBILE_NUMBER, ADDRESS=@ADDRESS,	EMAIL_ADDRESS=@EMAIL_ADDRESS, 
	LOCATION=@LOCATION,LAST_UPDATED_BY = @UPDATED_BY, LAST_UPDATED_DATETIME = GETDATE()
	WHERE USER_ID = @USER_ID;

END TRY
BEGIN CATCH
	;THROW 50000, 'ERROR WHILE UPDATING USER', 1;
END CATCH;
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_USER_PROFILE_IMAGE]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_USER_PROFILE_IMAGE]
@USER_ID INT,
@PHOTO_PATH VARCHAR(400)
AS
SET NOCOUNT ON;
BEGIN
	BEGIN TRY
		UPDATE TBL_USER SET PHOTO_PATH = @PHOTO_PATH WHERE USER_ID = @USER_ID
	END TRY
	BEGIN CATCH
		;THROW 50000, 'ERROR WHILE UPLOADING IMAGE', 1;
	END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_VEHICLE]    Script Date: 10/3/2020 9:32:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_UPDATE_VEHICLE]  
@VEHICLE_ID INT,
@VEHICLE_NUMBER	VARCHAR(12),
@VEHICLE_TYPE	VARCHAR(10),
@CHASSIS_NUMBER	VARCHAR(30),
@ENGINE_NUMBER	VARCHAR(30),
@MANUFACTURING_YEAR	CHAR(4),
@LOAD_CARRYING_CAPACITY	FLOAT,
@MAKE_OF_VEHICLE	VARCHAR(30),
@MODEL_NUMBER	VARCHAR(30),
@BODY_TYPE	VARCHAR(20),
@ORGANISATION_NAME	VARCHAR(100),
@DEVICE_ID	INT,
@USER_ID	INT,
@UPDATED_BY INT
AS  
SET NOCOUNT ON;  
BEGIN TRY 

	 IF EXISTS(SELECT 1 FROM TBL_VEHICLE WHERE VEHICLE_NUMBER = @VEHICLE_NUMBER AND VEHICLE_ID<>@VEHICLE_ID )  
	 BEGIN  
	  ;THROW 50000, 'VEHICLE ALREADY AVAILABLE', 1;  
	 END;  
  

	UPDATE TBL_VEHICLE 
	SET VEHICLE_NUMBER=@VEHICLE_NUMBER, VEHICLE_TYPE=@VEHICLE_TYPE,
	CHASSIS_NUMBER=@CHASSIS_NUMBER, ENGINE_NUMBER=@ENGINE_NUMBER,
	MANUFACTURING_YEAR=@MANUFACTURING_YEAR, LOAD_CARRYING_CAPACITY=@LOAD_CARRYING_CAPACITY,
	MAKE_OF_VEHICLE=@MAKE_OF_VEHICLE, MODEL_NUMBER=@MODEL_NUMBER,
	BODY_TYPE=@BODY_TYPE, ORGANISATION_NAME=@ORGANISATION_NAME,
	DEVICE_ID=@DEVICE_ID, USER_ID=@USER_ID,
	LAST_UPDATED_DATETIME = GETDATE()
	WHERE VEHICLE_ID = @VEHICLE_ID;

END TRY
BEGIN CATCH
	;THROW 50000, 'ERROR WHILE UPDATING VEHICLE', 1;
END CATCH;
GO
USE [master]
GO
